<header>
  <div class="middle">
    <%= link_to("Hao Tran", restaurant_index_path, {class: "logo"}) %>
    <nav>
      <ul>
        <li><%= link_to("Menu", restaurant_menu_path) %></li>
        <li><%= link_to("Contact us", restaurant_contact_path, {class: "text-center"}) %></li>
      </ul>
    </nav>
  </div>
</header>

<ul class="small-carousel">
  <% @carousel_images.each do |image| %>
     <li><%= image_tag("#{image.split('/').last}", :alt => "#{image.split('/').last}") %></li>
   <% end %>
</ul>

<div class="middle" id="menu">
  <h3 class="title"><i class="fa fa-info-circle"></i>Thank you for your order</h3>
  
  <p class="confirmation">
    <strong><%= @food.name %></strong> which cost <strong><%= number_to_currency(@food.price, unit: 'VND', precision: 0, format: "%n %u") %></strong> will be delivery to <strong><%= @order.name %></strong> at address <strong><%= @order.address %></strong> who booked at <strong><%= @order.created_at.strftime("%I:%M %p %A, %B %d %Y") %></strong>
  </p>
  
  <%= link_to("Back to Menu", restaurant_menu_path) %>
</div>