<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @line_order.order_id %>
</p>

<p>
  <strong>Food:</strong>
  <%= @line_order.food_id %>
</p>

<%= link_to 'Edit', edit_line_order_path(@line_order) %> |
<%= link_to 'Back', line_orders_path %>
